@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.initial{
  background-image: url("./assets/movieCollage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.initialInput{
  background-color: rgba( 0, 0, 0, .75);
}

.inputFieldContain{
  position: relative;
  z-index: 10;
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  background: rgba( 7, 7, 7, 0.25 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


#overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background-color: rgba( 0, 0, 0, .75);
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  /* body {
      background-color: red;
  } */
}

/* Media Query for low resolution  Tablets, Ipads */
@media  (max-width: 1350px) {
  /* body {
      background-color: yellow;
  } */
  .inputFieldContain{
    margin-top: 10px;
  }
}